
/* font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Satisfy', cursive; */

:root{
    --primary-color:#66cf28;
    --white-color: white;
    --text-color:#414244;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;  
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background:linear-gradient(red, var(--primary-color));
}